@import "tailwindcss";

/* Theme Variables */
:root {
  --background: #0B0B0F;
  --foreground: #ffffff;

  --card: #141414;
  --muted: #b3b3b3;

  --primary: #E50914;
}

/* Tailwind Theme Mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Base Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}


/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stroke-text {
  color: black;
  -webkit-text-stroke: 2px white;
  text-shadow: 0 0 6px rgba(255,255,255,0.15);
}